@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 18 0% 95%;
    --foreground: 18 0% 0%;
    --card: 18 0% 90%;
    --card-foreground: 18 0% 10%;
    --popover: 18 0% 95%;
    --popover-foreground: 18 95% 0%;
    --primary: 18 87.1% 54.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 18 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -20 10% 85%;
    --muted-foreground: 18 0% 35%;
    --accent: -20 10% 80%;
    --accent-foreground: 18 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 18 0% 90%;
    --border: 18 20% 50%;
    --input: 18 20% 18%;
    --ring: 18 87.1% 54.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 18 10% 5%;
    --foreground: 18 0% 90%;
    --card: 18 0% 0%;
    --card-foreground: 18 0% 90%;
    --popover: 18 10% 5%;
    --popover-foreground: 18 0% 90%;
    --primary: 18 87.1% 54.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 18 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -20 10% 15%;
    --muted-foreground: 18 0% 60%;
    --accent: -20 10% 15%;
    --accent-foreground: 18 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 18 0% 90%;
    --border: 18 20% 18%;
    --input: 18 20% 18%;
    --ring: 18 87.1% 54.3%;
    --radius: 0.75rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities{
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}